<div class="user-details">
  <h1>Welcome to WangQian's first blog</h1>
  <p>{{ site.user_description }}</p>
</div>

<audio src="{{ '/video/1.mp3' }}" id="music" > </audio>

<video width="300" src="https://vdept.bdstatic.com/6963506b64334b4e3769765769546c4c/6a3438444141647a/30b682f857cda03a66b17626a00c7e5ed2c64461b4ad38336fa4d449289f21fdf72994f7f0ed4a101216c8eb626fdf1d.mp4?auth_key=1577249237-0-0-c683b4615217511a7a741ec7673d8ffe" controls="controls">
您的浏览器不支持 video 标签。 
</video>
<div onclick="toggleSound()">点击播放</div>
<div class="article">
   <a href="{{ site.url }}/resume">这是我的简历：</h1>
</div>
<script type="text/javascript">
    function toggleSound() {
        var music = document.getElementById("music");
        if (music.paused) {
            music.play();
        }else{
            music.pause();
        }
    }
</script>