<style>
    .place{
        margin-top: 30px;
        text-align: center;
        font-size:  30px;
        color: darkkhaki;
    }
    .article{
        font-size: 30px;
        text-align: center;
    }
    .article a{
        color:gray;
        text-decoration:none;
    }
    .article_detail{
        margin: 20px 20px;
        text-align: left;
        font-size: 20px;
        color: whitesmoke;
    }
    .video_detail {
        margin-left: 2%;
    }
	.tupian{
		width: 300px;
        margin: auto;
        height: 300px;
    }
    .img{
        margin: 10px auto;
        height: 300px;
        width : 700px;
    }
    .blog{
        width: 100%;
        margin: 0 auto;
        background-image: url({{'/assets/back.jpg'}});
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
    }
    .favicon{
    	width: 40px;
    }
    .title_img{
    	float: left;
    	margin-left:10px;
    	width: 40px;
    }
     .title_content{
    	float: left;
    	margin-left:10px;
    	width: 70%;
    }
    .page{
    	font-size: 12px;
    	color:#00A818;
    	margin: 10px auto;
    }
    .content a{
    	text-decoration: none;
    	color:#00ADEF;
    }
    .content{
    	text-align: center;
    	clear: both;
    }
    .tag{
    	width: 20px;
    }
    
</style>

<div class="user-details">
  <h1>Welcome to WangQian's first blog</h1>
  <p >{{ site.user_description }}<span onclick="toggleSound()"><img class="tag" src="{{'/assets/timg.jpg'}}" /></span> </p>
  
  <audio src="{{ '/video/1.mp3' }}" id="music"> </audio>
</div>


<div class="video">
<video class="video_detail" width="30%" src="{{ '/video/1.mp4' }}" controls="controls">
    您的浏览器不支持 video 标签。
</video>
<video class="video_detail" width="30%" src="{{ '/video/2.mp4' }}" controls="controls">
    您的浏览器不支持 video 标签。
</video>
<video class="video_detail" width="30%" src="{{ '/video/3.mp4' }}" controls="controls">
    您的浏览器不支持 video 标签。
</video>
</div>
<div class="article">
    <a href="{{ site.url }}/resume">My Resume</a>
</div>
<div class="blog">
    <div class="place">
        My blog
    </div>
    <div class="article_detail" >
    	<div class="title_img">
    		<img class="favicon" src="{{'/assets/favicon.png'}}">
    	</div>
    	<div class="title_content">
    		<font color="#1EBBEE">Summer</font>
    		<br />
        	今年，北京迎来了入冬后第二场降雪。这场大雪的到来，距离第一场雪仅隔了半个月。雪量虽没达到“暴”的程度，但是雪景依然美不胜收！
       </div>
        <br />
        <br />
        <div class="img">
            <img class="tupian" src="{{'/assets/1.jpg'}}" />
            <img class="tupian" src="{{'/assets/3.jpg'}}" />
        </div>
        <div class="img">
            <img class="tupian" src="{{'/assets/mmexport1577251494625.png'}}" />
            <img class="tupian" src="{{'/assets/4.jpg'}}" />
        </div>
        <div class="page">
        	北京·故宫
        	<br />
        	2019-12-20
        </div>
    </div>
    <hr />
    <div class="article_detail">
    	<div class="title_img">
    		<img class="favicon" src="{{'/assets/favicon.png'}}">
    	</div>
    	<div class="title_content">
    		<font color="#1EBBEE">Summer</font>
    		<br />
        	   微风不燥，阳光正好，与三两好友，寻迹生活的点滴。在夕阳的余晖中徐徐漫步，岁月静好。我只知道所有热爱的事情都应该不遗余力地去追逐，所有美好都不能被辜负
       </div>
        <br />
        <br />
        <div class="img">
            <img class="tupian" src="{{'/assets/5.jpg'}}" />
            <img class="tupian" src="{{'/assets/6.jpg'}}" />
        </div>
        <div class="img">
            <img class="tupian" src="{{'/assets/7.jpg'}}" />
            <img class="tupian" src="{{'/assets/8.jpg'}}" />
        </div>
         <div class="page">
        	重庆·南坪
        	<br />
        	2019-12-21
        </div>
    </div>
      <hr />
    <div class="article_detail">
    	<div class="title_img">
    		<img class="favicon" src="{{'/assets/favicon.png'}}">
    	</div>
    	<div class="title_content">
    		<font color="#1EBBEE">Summer</font>
    		<br />
        	 白驹过隙，大学四年时光匆匆即逝。当完成这大学里最后一次作业，我收获颇丰。<br />
       </div>
       <div class="content">
       	 	<a href="{{site.url}}/markdown">小组翻译项目报告</a><br />
        	 <a href="{{site.url}}/markdown2">小组翻译成品展示</a>
       </div>
     	<div class="page">
        	重庆·第二师范学院
        	<br />
        	2019-12-22
        </div>
    </div>
</div>
<script type="text/javascript">
    function toggleSound() {
        var music = document.getElementById("music");
        if (music.paused) {
            music.play();
        }else{
            music.pause();
        }
    }
</script>