<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Follow my weibo" target="_blank" href="https://weibo.com/u/5844330216?refer_flag=0000015011_&from=feed&loc=nickname&is_all=1"><i class="icon fa fa-weibo"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://https://user.qzone.qq.com/1357160121?source=friendlist"><i class="icon fa fa-qq" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://mp.weixin.qq.com/s/R3_FmmEyq7IhtS9DanNEaA"><i class="icon fa fa-wechat" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/murraco"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/murraco"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
